<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="{{ path('home') }}favicon.ico">
    <title>{% block site_title %}{{ app.site_title }}{% endblock %}</title>
    {% block css %}
    <link href="{{ path('home') }}views/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
    .main{
      margin-top: 60px;
    }
    .page-header{
      margin: 0;
      padding: 0;
      margin-bottom: 20px;
    }    
    .page-header .buttons{
      padding-top: 20px;
      float: right;
    }
    .alert{      
      margin-bottom: 0;
    }    
    .CodeMirror-wrap {
      border: 1px solid #ddd;
    }
    </style>
    {% endblock %}
    {% block javascripts %}    
    <script src="{{ path('home') }}views/js/jquery.min.js"></script>
    <script src="{{ path('home') }}views/js/bootstrap.min.js"></script>
    {% endblock %}    
  </head>

  <body>

    {% block mainmenu %}
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ path('admin-index') }}">PHP Speed</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li{% if active_page == 'admin-tests' %} class="active"{% endif %}><a href="{{ path('admin-tests') }}">Тесты</a></li>
            <li{% if active_page == 'admin-pages' %} class="active"{% endif %}><a href="{{ path('admin-pages') }}">Страницы</a></li>
            <li{% if active_page == 'admin-views' %} class="active"{% endif %}><a href="{{ path('admin-views') }}">Шаблоны</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ path('home') }}">Перейти на сайт</a></li>
            <li><a href="{{ path('admin-logout') }}">Выйти</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    {% endblock %}

    

    {% block main %}
    {% endblock %}

  </body>
</html>
