{% extends 'admin/base.html.twig' %}

{% block site_title %}cp42{% endblock %}
{% block mainmenu %}{% endblock %}

{% block main %}
<div class="container main" style="width: 600px;">

  <div class="page-header">
    <h1>cp42</h1>    
  </div>

  {% if (form_error is defined) and (form_error != '') %}<div class="alert alert-danger">{{ form_error }}</div>{% endif %}

  <form action="{{ login_action }}" role="form" method="POST">
    <div class="form-group">
      <input type="text" name="username" class="form-control" value="{{ username }}" placeholder="Username" autofocus rquired>
    </div>
    <div class="form-group">
      <input type="password" name="password" class="form-control" value="{{ password }}" placeholder="Password" rquired>
    </div>    
    <button type="submit" class="btn btn-default">Login</button>
  </form>

</div> <!-- /container -->
{% endblock %}