{% extends 'admin/base.html.twig' %}

{% block main %}

<div class="container main">
    {% include 'flashmessage.html.twig' %}
    <div class="page-header">
        <h1 style="float: left">Страницы</h1>
        <div class="buttons">
            <a href="{{ path('admin-pages-edit') }}" class="btn btn-success">Добавить</a>
        </div>
        <div style="clear:both;"></div>    
    </div>

    {% if (pages is defined) and (pages|length>0) %}
    <table class="table table-striped table-bordered"> 
    <tr>
        <th>Заголовок</th>
        <th style="width: 120px;">Действия</th>
    </tr>
    {% for page in pages %}
    <tr>        
        <td>
            <a href="{{ path('admin-pages-edit', {id: page.id}) }}?filter={{ filter.url }}">{{ page.title }}</a> &middot;
            <a href="{{ path('pages', {slug: page.slug}) }}"><span class="glyphicon glyphicon-share"></span></a>
        </td>
        <td>
            <a class="btn btn-danger btn-small btn-xs" href="{{ path('admin-pages-delete', {id: page.id}) }}?filter={{ filter.url }}" onclick="return confirm('Вы уверены, что хотите удалить страницу?');"><span class="glyphicon glyphicon-trash"></span> Удалить</a>
        </td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
    страниц нет
  {% endif %}

</div> <!-- /container -->
{% endblock %}