{% extends 'admin/base.html.twig' %}

{% block javascripts %}
{{ parent() }}
<script src="{{ path('home') }}views/js/jquery.synctranslit.min.js"></script>
<script src="{{ path('home') }}views/codemirror/lib/codemirror.js"></script>
<link rel="stylesheet" href="{{ path('home') }}views/codemirror/lib/codemirror.css">
<script src="{{ path('home') }}views/codemirror/mode/xml/xml.js"></script>
<script src="{{ path('home') }}views/codemirror/mode/htmlmixed/htmlmixed.js"></script>
<script>
$(document).ready(function(){
    {% if id==0 %}$("#formTitle").syncTranslit({destination: "formSlug"});{% endif %}
    
    var mixedMode = {
        name: "htmlmixed",
        scriptTypes: [{matches: /\/x-handlebars-template|\/x-mustache/i, mode: null},
                      {matches: /(text|application)\/(x-)?vb(a|script)/i, mode: "vbscript"}]
    };
    var myCodeMirror = CodeMirror.fromTextArea( $('#formContent').get(0), {
        mode: mixedMode,
        tabMode: "indent",
        lineWrapping: true,
        lineNumbers: true,
        extraKeys: {"Ctrl-Space": "autocomplete"}
    });
    myCodeMirror.setSize('100%', 500);
});
</script>
{% endblock %}

{% block main %}
<div class="container main">
    {% include 'flashmessage.html.twig' %}
    <form action="{{ path('admin-pages-edit') }}?id={{ id }}" method="post">
        <input type="hidden" name="confirm" value="ok">
        {{ filter.hidden }}
        <div class="page-header">
            <h1 style="float: left">{% if id==0 %}Добавить{% else %}Изменить{% endif %} страницу</h1>
            <div class="buttons">
                <button type="submit" class="btn btn-success">Сохранить</button>
                <a href="{{ path('admin-pages') }}?filter={{ filter.url }}" class="btn btn-danger">Закрыть</a>
            </div>
            <div style="clear:both;"></div>    
        </div>

        <div class="form-group{% if errors.title is defined %} has-error{% endif %}">
            <label for="formTitle">
                Заголовок*
                {% if errors.title is defined %}<span class="label label-danger">{{ errors.title }}</span>{% endif %}
            </label>
            <input type="text" name="form[title]" class="form-control" id="formTitle" value="{{ form.title }}" required autofocus>
        </div>

        <div class="form-group{% if errors.slug is defined %} has-error{% endif %}">
            <label for="formSlug">
                Slug*
                {% if errors.slug is defined %}<span class="label label-danger">{{ errors.slug }}</span>{% endif %}
            </label>
            <input type="text" name="form[slug]" class="form-control" id="formSlug" value="{{ form.slug }}" required>
        </div>
      
        <div class="form-group{% if errors.content is defined %} has-error{% endif %}">
            <label for="formContent">
                Контент
                {% if errors.content is defined %}<span class="label label-danger">{{ errors.content }}</span>{% endif %}
            </label>
            <textarea class="form-control" name="form[content]" rows="20" id="formContent">{{ form.content }}</textarea>
        </div>

    </form>
</div> <!-- /container -->
{% endblock %}