{% extends 'admin/base.html.twig' %}

{% block main %}

<div class="container main">
    {% include 'flashmessage.html.twig' %}
    <div class="page-header">
        <h1 style="float: left">Тесты</h1>
        <div class="buttons">
            <a href="{{ path('admin-tests-edit') }}" class="btn btn-success">Добавить</a>
        </div>
        <div style="clear:both;"></div>    
    </div>

    {% if (tests is defined) and (tests|length>0) %}
    <table class="table table-striped table-bordered"> 
    <tr>
        <th>Заголовок</th>
        <th style="width: 120px;">Действия</th>
    </tr>
    {% for test in tests %}
    <tr>        
        <td>
            <a href="{{ path('admin-tests-edit', {id: test.id}) }}?filter={{ filter.url }}">{{ test.title }}</a> &middot;
            <a href="{{ path('tests', {slug: test.slug}) }}"><span class="glyphicon glyphicon-share"></span></a>
        </td>
        <td>
            <a class="btn btn-danger btn-small btn-xs" href="{{ path('admin-tests-delete', {id: test.id}) }}?filter={{ filter.url }}" onclick="return confirm('Вы уверены, что хотите удалить тест?');"><span class="glyphicon glyphicon-trash"></span> Удалить</a>
        </td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
    тестов нет
  {% endif %}

</div> <!-- /container -->
{% endblock %}