{% extends 'admin/base.html.twig' %}

{% block javascripts %}
{{ parent() }}
<script src="{{ path('home') }}views/codemirror/lib/codemirror.js"></script>
<link rel="stylesheet" href="{{ path('home') }}views/codemirror/lib/codemirror.css">
<script src="{{ path('home') }}views/codemirror/mode/xml/xml.js"></script>
<script src="{{ path('home') }}views/codemirror/mode/css/css.js"></script>
<script src="{{ path('home') }}views/codemirror/mode/htmlmixed/htmlmixed.js"></script>
<script>
$(document).ready(function(){  
    var mixedMode = {
        name: "htmlmixed",
        scriptTypes: [{matches: /\/x-handlebars-template|\/x-mustache/i, mode: null},
                      {matches: /(text|application)\/(x-)?vb(a|script)/i, mode: "vbscript"}]
    };
    var myCodeMirror = CodeMirror.fromTextArea( $('#formContent').get(0), {
        mode: mixedMode,
        tabMode: "indent",
        lineWrapping: true,
        lineNumbers: true,
        extraKeys: {"Ctrl-Space": "autocomplete"}
    });
    myCodeMirror.setSize('100%', 500);
});
</script>
{% endblock %}

{% block main %}
<div class="container main">
    {% include 'flashmessage.html.twig' %}
    <form action="{{ path('admin-views') }}?tpl={{ tpl }}" method="post">
        <input type="hidden" name="confirm" value="ok">
        <div class="page-header">
            <h1 style="float: left">Шаблоны</h1>
            <div class="buttons">
                <button type="submit" class="btn btn-success">Сохранить</button>
            </div>
            <div style="clear:both;"></div>    
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="list-group">
                    {% for k,t in tpls %}
                    <a href="{{ path('admin-views') }}?tpl={{ k }}" class="list-group-item{% if tpl == k %} active{% endif %}">{{ k }}</a>
                    {% endfor %}                    
                </div>
            </div>

            <div class="col-md-9">
                <div class="form-group">
                    <textarea class="form-control" name="content" rows="20" id="formContent">{{ content }}</textarea>
                </div>
            </div>
        </div>        

    </form>
</div> <!-- /container -->
{% endblock %}