{% extends 'base.html.twig' %}

{% block site_title %}Контакты{% endblock %}

{% block header %}{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
$(document).ready(function() {
    var html = '<div class="form-group';
    {% if errors.super is defined %}html +=' has-error';{% endif %}
    html += '"><label for="formContent">Вопрос со звездочкой* ';
    {% if errors.super is defined %} html += ' <span class="label label-danger">{{ errors.super }}</span>';{% endif %}
    html += '</label><select class="form-control" style="width:140px;" name="form[super]">';
    html += '<option></option>';
    html += '<option value="0"';
    {% if form.super == '0' %} html += ' selected="selected"';{% endif %}
    html += '>0001011000111010</option>';
    html += '<option value="1"';
    {% if form.super == '1' %} html += ' selected="selected"';{% endif %}
    html += '>Я не робот</option>';
    html += '</div>';
    $('#addafter').after( html );
});
</script>
{% endblock %}

{% block main %}
<div class="container">    

    <div class="page-header">
        <h1>Контакты</h1>
        <p class="lead">На этой странице Вы можете предложить свой тест или просто написать нам что нибудь.</p>
    </div>

    {% include 'flashmessage.html.twig' %}

    <form action="{{ path('add') }}" method="post" class="container form-horizontal" id="frmAdd">
        <input type="hidden" name="confirm" value="ok">
        
        <div class="form-group{% if errors.author_name is defined %} has-error{% endif %}">
            <label for="formAuthor_name">
                Ваше имя*
                {% if errors.author_name is defined %}<span class="label label-danger">{{ errors.author_name }}</span>{% endif %}
            </label>
            <input type="text" name="form[author_name]" class="form-control" id="formAuthor_name" value="{{ form.author_name }}" required autofocus>
        </div>

        <div class="form-group{% if errors.author_email is defined %} has-error{% endif %}">
            <label for="formAuthor_email">
                Ваш email*
                {% if errors.author_email is defined %}<span class="label label-danger">{{ errors.author_email }}</span>{% endif %}
            </label>
            <input type="email" name="form[author_email]" class="form-control" id="formAuthor_email" value="{{ form.author_email }}" required>
        </div>

        <div class="form-group{% if errors.slug is defined %} has-error{% endif %}">
            <label for="formAuthor_url">
                Адрес вашего сайта/блога (если есть)
                {% if errors.Author_url is defined %}<span class="label label-danger">{{ errors.Author_url }}</span>{% endif %}
            </label>
            <input type="text" name="form[author_url]" class="form-control" id="formAuthor_url" value="{{ form.author_url }}">
        </div>
      
        <div class="form-group{% if errors.content is defined %} has-error{% endif %}" id="addafter">
            <label for="formContent">
                Ваше сообщение*
                {% if errors.content is defined %}<span class="label label-danger">{{ errors.content }}</span>{% endif %}
            </label>
            <textarea class="form-control" name="form[content]" rows="20" id="formContent" required>{{ form.content }}</textarea>
        </div>


        <p>
            <button type="submit" class="btn btn-default">Отправить</button>
        </p>
        <br>
    </form>

</div> <!-- /container -->
{% endblock %}
