<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block site_title %}{{ app.site_title }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ path('home') }}favicon.ico">
    {% block css %}
    <link href="{{ path('home') }}views/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{ path('home') }}views/styles.css" rel="stylesheet" media="screen">
    {% endblock %}
    {% block javascripts %}
    <script src="{{ path('home') }}views/js/jquery.min.js"></script>
    <script src="{{ path('home') }}views/js/bootstrap.min.js"></script>
    {% endblock %}
</head>
<body>
{% block header %}
{% endblock %}

{% block main %}
{% endblock %}
    
{% block footer %}
<div class="container">
    <p><a href="/">&larr; На главную</a></p>
</div>
{% endblock %}
</body>
</html>