{% extends 'base.html.twig' %}

{% block site_title %}Ошибочка вышла{% endblock %}

{% block header %}{% endblock %}

{% block main %}
<div class="container" style="width: 600px;margin: 100px auto 0 auto;">

    <h1>{{ error }}</h1>    

</div> <!-- /container -->
{% endblock %}

{% block footer %}{% endblock %}