{% extends 'base.html.twig' %}

{% block site_title %}Все тесты{% endblock %}

{% block header %}{% endblock %}

{% block main %}
<div class="container">

    <div class="page-header">
        <h1>Все тесты</h1>
    </div>    

    {% if (alltests is defined) and (alltests|length > 0) %}
        {% for title, tests in alltests %}
        <h3>{{ title }}</h3>
        <ul>
        {% for test in tests %}
        <li><a href="{{ path('tests', {slug: test.slug}) }}">{{ test.title }}</li>        
        {% endfor  %}
        </ul>
        {% endfor  %}
    {% else %}
        {% if str!='' %}<p style="margin: 20px 0;">тестов пока нет</p>{% endif %}
    {% endif %}

</div> <!-- /container -->
{% endblock %}
