<b>Имя:</b><br>
{{ author_name }}<br><br>

<b>Email:</b><br>
{{ author_email }}<br><br>

{% if author_url != '' %}
<b>Url:</b><br>
{{ author_url }}<br><br>
{% endif %}

<b>Сообщение:</b><br>
{{ content|nl2br }}<br><br>