{% if (flash is defined) and (flash.type is defined) and (flash.message is defined) %}
  <div class="alert alert-{{ flash.type }}">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {{ flash.message }}
  </div>
{% endif %}