{% extends 'base.html.twig' %}

{% block javascripts %}
{{ parent() }}
<script>
var suggestions_count = 0,
    suggestions_hover = 0;

$(function() {
    var oldStr = '';    

    $('.searchform input[type="text"]').on('keyup', function(){
        showSuggestions();            
    });

    $('.searchform input[type="text"]').on('click', function(){
        $(this).select();
    });

    function showSuggestions() {
        var str = $.trim( $('.searchform input[type="text"]').val() );
        if ( str == '' ) {
            hideSuggestions();
            oldStr = str;
            return;
        }
        if ( str.length >= 3 && oldStr != str ) {
            $.ajax({
                url: "{{ path('suggestions') }}?str="+encodeURIComponent(str)
            }).done(function(data) {
                $('#suggestions').html(data).show();
            });
        }
        oldStr = str;            
    }

    function hideSuggestions() {
        $('#suggestions').hide();
        suggestions_count = 0;
    }

    $(document).on('keydown', function(e){
        if( e.keyCode == 40 ) { // down
            e.preventDefault();
            $('#suggestions div:nth-child('+(suggestions_hover+1)+')').removeClass('hover');
            suggestions_hover++;
            if ( suggestions_hover >= suggestions_count ) suggestions_hover = 0;
            $('#suggestions div:nth-child('+(suggestions_hover+1)+')').addClass('hover');
        }

        if( e.keyCode == 38 ) { // up
            e.preventDefault();
            $('#suggestions div:nth-child('+(suggestions_hover+1)+')').removeClass('hover');
            suggestions_hover--;
            if ( suggestions_hover < 0 ) suggestions_hover = suggestions_count-1;
            $('#suggestions div:nth-child('+(suggestions_hover+1)+')').addClass('hover');   
        }

        if( e.keyCode == 13 ) { // enter            
            if ( suggestions_count == 0 ) return;
            e.preventDefault();
            document.location.href = $('#suggestions div:nth-child('+(suggestions_hover+1)+')').data('url');
        }

        if( e.keyCode == 27 ) { // esc
            e.preventDefault();
            hideSuggestions();
        }
    });

    $('.searchform .example span').click(function(){
        $('.searchform input[type="text"]').val( $(this).text() );
        showSuggestions();
    })

    $(document).on('click', '#suggestions div', function(e) {
        e.preventDefault();
        document.location.href = $(this).data('url');
    });   
    
    $(document).on('click', function() {
        hideSuggestions();
    });   

});     
</script>
{% endblock %}

{% block header %}{% endblock %}

{% block main %}
<div class="container">

    <form action="{{ path('search') }}" class="form-inline searchform">
        <h1>PHP Speed</h1>
        <div class="form-group">
            <input type="text" name="str" class="form-control" placeholder="Поиск..." autofocus autocomplete="off">
            <button class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
            <div class="example">Пример: <span>str_replace</span></div>
            <div id="suggestions"></div>
        </div>            
    </form>

    {% if (featured is defined) and (featured|length>0) %}
    <div class="featured">
        <h4>Интересные тесты</h4>
        <ul>
        {% for test in featured %}
        <li><a href="{{ path('tests', {slug: test.slug}) }}">{{ test.title }}</li>        
        {% endfor  %}
        </ul>        
    </div>
    {% endif %}

	<div class="row footer">
    	<div class="pull-left">
        	<a href="explore/">Все тесты</a> &middot; 
            <a href="add/">Предложить тест</a>
      	</div>
        <div class="pull-right">
        	<a href="{{ path('pages', {slug: 'about'}) }}">О проекте</a>
        </div>
    </div>

</div> <!-- /container -->
{% endblock %}

{% block footer %}{% endblock %}