{% extends 'base.html.twig' %}

{% block site_title %}{{ post.title }}{% endblock %}

{% block header %}{% endblock %}

{% block main %}
<div class="container">

    <div class="page-header">
        <h1>{{ post.title }}</h1>
        {% if post.author_name is defined %}
            {% if post.author_name != '' %}
            <p class="lead">Автор: {% if post.author_url != '' %}<a href="{{ post.author_url }}" target="_blank">{{ post.author_name }}</a>{% else %}{{ post.author_name }}{% endif %}</p>
            {% endif %}
        {% endif %}
    </div>

    <div>
        {{ post.content|raw }}
    </div>    

</div> <!-- /container -->
{% endblock %}
