{% extends 'base.html.twig' %}

{% block site_title %}{% if str=='' %}Поиск{% else %}<h1>Результаты поиска по запросу "{{ str }}"{% endif %}{% endblock %}

{% block header %}{% endblock %}

{% block main %}
<div class="container">

    <div class="page-header">
        <h1>
            {% if str=='' %}Поиск{% else %}<h1>Результаты поиска по запросу "{{ str }}"{% endif %}
        </h1>
    </div>

    <form action="{{ path('search') }}" class="form-inline searchform searchpage">
        <div class="form-group">
            <input type="text" name="str" class="form-control" placeholder="Поиск..." value="{{ str }}">
            <button class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
        </div>            
    </form>

    {% if (results is defined) and (results|length > 0) %}
        <ul>
        {% for test in results %}
        <li><a href="{{ path('tests', {slug: test.slug}) }}">{{ test.title }}</li>        
        {% endfor  %}
        </ul>            
    {% else %}
        {% if str!='' %}<p style="margin: 20px 0;">ничего не найдено</p>{% endif %}
    {% endif %}

</div> <!-- /container -->
{% endblock %}
