.searchform{
    width: 600px;
    margin: 100px auto 0 auto;
}
.searchform{
    text-align: center;
}
.searchform input[type="text"]{
    width: 550px;
}
#suggestions{
    position: absolute;
    display: none;
    text-align: left;
    border: 1px solid #eeeeee;
    border-bottom: none;
    width: 550px;
    z-index: 2;
    background: #ffffff;
}
#suggestions div{
    border-bottom: 1px solid #eeeeee;
    padding: 5px 3px;
    cursor: pointer;
    background: #ffffff;
}

#suggestions div:hover, #suggestions div.hover{
    background: #428bca;
    color: #ffffff;
}

#suggestions div:hover code, #suggestions div.hover code{
    background: #99CCFF;
    color: #ffffff;
}

.searchform .example {
    padding-left: 4px;
    padding-top: 4px;
    position: absolute;
    text-align: left;
    color: #bbbbbb;
    z-index: 1;
    font-style: italic;        
}

.searchform .example span{
    border-bottom: 1px dotted #aaaaaa;
    cursor: pointer;
    color: #aaaaaa;
}

.featured{
    width: 600px;
    margin: 60px auto 0 auto;
}
.featured li{
    margin-bottom: 3px;
}

.footer{
    width: 600px;
    margin: 30px auto 20px auto;
}

.searchpage{
	text-align: left;
	margin: 20px 0;
}

.form-group{
	display: block;
	margin-top: 20px;
}