{% if (suggestions is defined) and (suggestions|length > 0) %}
    {% for test in suggestions %}
        <div class="hover" data-url="{{ path('tests', {slug: test.slug}) }}">{{ test.title }}</div>
    {% endfor %}

    <script>
    suggestions_count = {{ suggestions|length }};
    suggestions_hover = 0;
    </script>
{% endif %}